<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration Page </title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>GSTIN Validator :</h1>
    <form action="gstin" method="post">
        <table>
            <tr>
                <td>
                    <label> GSTIN: </label>
                </td>
                <td>
                    <input type="text" name="gstin" placeholder="Enter a GSTIN" >
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn-reg"> Validate </button>
                </td>
            </tr>
        </table>

    </form>
</body> 
</html>